[Desktop Entry]
Encoding=UTF-8
Name=SysTach
Name[cs]=SysTach
Name[de]=SysTach
Name[es]=SysTach
Name[et]=SysTach
Name[fr]=SysTach
Name[hu]=SysTach
Name[km]=SysTach
Name[nl]=SysTach
Name[pl]=SysTach
Name[pt]=SysTach
Name[pt_BR]=SysTach
Name[sk]=SysTach
Name[sv]=SysTach
Name[uk]=SysTach
Name[x-test]=xxSysTachxx
Comment=System Monitor Dashboard
Type=Service
ServiceTypes=Plasma/Applet
Icon=systach
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-DefaultSize=400,400
X-KDE-PluginInfo-Author=Michael Kersey
X-KDE-PluginInfo-Email=michael.kersey@gmail.com
X-KDE-PluginInfo-Name=systach
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
